
<div class={{if this.isSkipped "day-red" "day"}}>
    <div>
        <button class="skipButton" {{on "click" (fn @postNewSkip @fullDate @skippedRecord)}}>
            {{#if this.isSkipped}}
            Dont skip
            {{else}}
            Skip
            {{/if}}
        </button> 
    </div>
    

    <div class="dayProps">
        {{@fullDate}}
    </div>
        
    <div class="weekDay">
        {{this.dayOfTheWeek}}
    </div>

    <div>
        {{input placeholder="Title of job to add" value=newJobEntry}}
        <button {{on "click" (fn @postToDb @fullDate newJobEntry)}}>+</button> 
    </div>


    <JobsForThisDay  
        @fullDate={{@fullDate}} 
        @jobRecords={{@jobRecords}} 
        @deleteFromDb={{@deleteFromDb}}
        @moveJob={{@moveJob}}
    />
    
</div>





