
{{#each @dateArray as |job|}}

    {{#if (is-equal job.startOn @fullDate)}}
        {{#if job.isDeleted}}
        <div></div>
        {{else}}
        <div class="job">

            <div class="jobTitle">{{job.jobTitle}}</div>
            
            <div class = "jobControls">
                <button {{on "click" (fn @moveJob job "0" 1)}}> &larr;</button>
                
                <button {{on "click" (fn @deleteFromDb job)}}>Del</button>
            
                <button {{on "click" (fn @moveJob job "1" 1)}}> &rarr; </button>
            </div>
            
        </div>
        {{/if}}
    {{/if}}

    
{{/each}}