<div class="weekDay">
{{this.dayOfTheWeek}}
</div>


<div>
    {{input placeholder="Title of job to add" value=newJobEntry}}
    <button {{on "click" this.testing}} {{on "click" (fn @postToDb this.dateString newJobEntry)}}>+</button> 
</div>
 


{{#each jobsForThisDay as |job|}}
<div class="job">

    <div class="jobTitle">{{job.jobTitle}}</div>
    
    <div class = "jobControls">
        <button {{on "click" (fn @moveJob job.id "0" job.startOn)}}> &larr;</button>
        
        <button {{on "click" (fn @deleteFromDb job.id)}}>Del</button>
    
        <button {{on "click" (fn @moveJob job.id "1" job.startOn)}}> &rarr; </button>
    </div>
    
</div>
    
{{/each}}