



    <div class={{if this.isSkipped "day-red" "day"}}>
        <div>
            <button class="skipButton" {{on "click" (fn @postNewSkip @fullDate @skippedRecord)}}>
                {{#if this.isSkipped}}
                Dont skip
                {{else}}
                Skip
                {{/if}}
            </button> 
        </div>
        

        <div class="dayProps">
            {{@fullDate}}
        </div>
         
        <div class="weekDay">
        {{this.dayOfTheWeek}}
        </div>


        <Job 
            @day={{day.dayOfMonth}} 
            @month={{@month}} 
            @year={{@year}} 
            @dateArray={{@dateArray}} 
            @postToDb={{@postToDb}} 
            @deleteFromDb={{@deleteFromDb}}
            @moveJob={{@moveJob}}
        >
        </Job>
    </div>





