
<div class="days" >
{{#each days as |day|}}
    <div class="day">
        
        <button {{on "click" (fn @postNewSkip day @month @year)}}>Skip</button> 
        {{day}} - {{@month}} - {{@year}}  
        <Job 
            @day={{day}} 
            @month={{@month}} 
            @year={{@year}} 
            @dateArray={{@dateArray}} 
            @postToDb={{@postToDb}} 
            @deleteFromDb={{@deleteFromDb}}
            @moveJob={{@moveJob}}
        >

        </Job>
    </div>
{{/each}}
</div>


