
<div class="days" >
{{#each days as |day|}}
    <div class="day" id="{{day}}-{{@month}}-{{@year}}">
        
        {{day}} - {{@month}} - {{@year}}  
        <Job @day={{day}} @month={{@month}} @year={{@year}} @dateArray={{@dateArray}} @sendToController={{@postToDb}}></Job>
    </div>
{{/each}}
</div>


