
<div class="days" >
{{#each days as |day|}}
    <div class={{if day.isSkipped "day-red" "day"}}>
        
        <button {{on "click" (fn @postNewSkip day.dayOfMonth @month @year)}}>Skip</button> 
        {{day.dayOfMonth}} - {{@month}} - {{@year}}  
        <Job 
            @day={{day.dayOfMonth}} 
            @month={{@month}} 
            @year={{@year}} 
            @dateArray={{@dateArray}} 
            @postToDb={{@postToDb}} 
            @deleteFromDb={{@deleteFromDb}}
            @moveJob={{@moveJob}}
        >

        </Job>
    </div>
{{/each}}
</div>


