<select {{ on  "change" this.setMonth}} >  
 <option disabled selected> -- Month -- </option>
    {{#each months as |month| }}
    <option value={{month}}>{{month}}</option>
    {{/each}}
</select>

<select {{ on  "change" this.setYear}}>   
 <option disabled selected> -- Year -- </option>
    {{#each years as |year| }}
    <option value={{year}}>{{year}}</option>
    {{/each}}
</select>

<label>
 Move all jobs by n days:

 <Input
   @type="number"
   @value={{this.moveByN}}
 />
  <button type="button" {{on "click" this.moveBulk}}>Bulk move</button> 
</label>


<label>
  Skip all sundays and saturdays going forward:
  <Input
    @type="checkbox"
    {{on "change" this.skipAllWeekends}}
  />
</label>


<div>
Total number of jobs in system:{{this.numberOfJobs}}
</div>

<div class="days">
{{#each this.numberOfDays as |day|}}
    {{#each @model.skipped as |skip|}}
    {{#if  (is-equal skip.skippedDate day.fullDate)}}
    <Month 
        @month={{this.month}} 
        @year={{this.year}} 
        @dateArray={{@model.job}}
        @postToDb={{this.postToDb}}
        @fullDate={{day.fullDate}}
        @skipped={{"True"}}
        @skippedRecord={{skip}}
        @deleteFromDb={{this.deleteFromDb}}
        @moveJob={{this.moveJob}}
        @postNewSkip={{this.postNewSkip}}
    />
    {{/if}}

    {{/each}}
    {{#unless (is-present @model.skipped day.fullDate)}}
    <Month 
        @month={{this.month}} 
        @year={{this.year}} 
        @dateArray={{@model.job}}
        @postToDb={{this.postToDb}}
        @fullDate={{day.fullDate}}
        @skipped={{"False"}}
        @skippedRecord={{"null"}}
        @deleteFromDb={{this.deleteFromDb}}
        @moveJob={{this.moveJob}}
        @postNewSkip={{this.postNewSkip}}
    />
    {{/unless}}
{{/each}}
</div>

    

    

    


