<select {{ on  "change" this.setMonth}} >  
 <option disabled selected> -- Month -- </option>
    {{#each months as |month| }}
    <option value={{month}}>{{month}}</option>
    {{/each}}
</select>

<select {{ on  "change" this.setYear}}>   
 <option disabled selected> -- Year -- </option>
    {{#each years as |year| }}
    <option value={{year}}>{{year}}</option>
    {{/each}}
</select>

<label>
 Move all jobs forward by n days:

 <Input
   @type="number"
   @value={{moveByN}}
 />
  <button type="button" {{on "click" (fn this.moveBulk moveByN)}}>Bulk move</button> 
</label>


<label>
  Skip all sundays and saturdays going forward:
  <Input
    @type="checkbox"
    {{on "change" this.skipAllWeekends}}
  />
</label>

<button type="button" {{on "click" this.deleteAllJobs}}>!!! Delete all jobs !!!</button> 


<div>
Total number of jobs in system:{{this.numberOfJobs}}
</div>

<div class="days">
{{#each this.daysInSelectedMonth as |day|}}
    {{#each @model.skipRecordArray as |skip|}}
      {{#if  (is-equal skip.skippedDate day.fullDate)}}
      <DayInCalendar 
          @jobRecords={{@model.jobRecordArray}}
          @fullDate={{day.fullDate}}
          @skipped={{"True"}}
          @skippedRecord={{skip}}
    
          @postToDb={{this.postToDb}}
          @deleteFromDb={{this.deleteFromDb}}
          @moveJob={{this.moveJob}}
          @postNewSkip={{this.postNewSkip}}
      />
      {{/if}}
    {{/each}}
    {{#unless (is-present @model.skipRecordArray day.fullDate)}}
    <DayInCalendar 
        @jobRecords={{@model.jobRecordArray}}
        @fullDate={{day.fullDate}}
        @skipped={{"False"}}
        @skippedRecord={{"null"}}

        @postToDb={{this.postToDb}}
        @deleteFromDb={{this.deleteFromDb}}
        @moveJob={{this.moveJob}}
        @postNewSkip={{this.postNewSkip}}
    />
    {{/unless}}
{{/each}}
</div>

    

    

    


