<select {{ on  "change" this.setMonth}} >  
 <option disabled selected> -- Month -- </option>
    {{#each months as |month| }}
    <option value={{month}}>{{month}}</option>
    {{/each}}
</select>

<select {{ on  "change" this.setYear}}>   
 <option disabled selected> -- Year -- </option>
    {{#each years as |year| }}
    <option value={{year}}>{{year}}</option>
    {{/each}}
</select>

<label>
 Move all jobs by n days:

 <Input
   @type="number"
   @value={{this.moveByN}}
 />
  <button type="button" {{on "click" this.moveBulk}}>Bulk move</button> 
</label>

<label>
  Skip all sundays and saturdays:
  <Input
    @type="checkbox"
    {{on "change" this.skipAllWeekends}}
  />
</label>

<div {{did-insert this.calcNumJobs}}>
Total number of jobs in system:{{this.numberOfJobs}}
</div>



    <Month 
        @month={{this.month}} 
        @year={{this.year}} 
        @dateArray={{this.dateArray}}
        @postToDb={{this.postToDb}} 
        @deleteFromDb={{this.deleteFromDb}}
        @moveJob={{this.moveJob}}
        @postNewSkip={{this.postNewSkip}}
        @skippedArray={{this.skippedArray}}
    >
    </Month>

    <div>
      {{#each @model.job as |job|}}
        {{job.startOn}}
      {{/each}}
    </div>

    


